body{
    font-family: IRANSans;
}
.container{
    max-width: 85%;
}
.card-column-height{
    height: 100vh
}
.section-radius{
    border-radius: 15px;
}
.card-style{
    height: 600px;
    padding-top: 30px;
}
.card-body{
    width: 100%;
}
.name-font{
    font-size: 35px;
}
.p-font{
    font-size: 15px;
}
.img-size{
    width: 30px;
    height: 30px;
}
.my-card-footer{
    background-color: #b4b4b4;
    width: 100%;
    height: 50px;
    padding: 1px;
    border-radius: 0px 0px 15px 15px;
}
.user-size{
    width: 60px;
}
.border-bottom{
    border-bottom: 3px solid #707070 !important
}

.line-height-style{
    line-height: 25px;
}
video{
    width: 90%;
    border-radius: 10px;
}

.border-bottom p{
    color: #707070;
}
.rec{
    width: 70%;
    height: 100px;
    border-radius: 20px;

}
span{
    width: 25%;
    height: 100px;
    
}
.rec .span1{
    background-color: #DA627D;
    border-radius: 0px 15px 15px 0px;
    color: #F8E1E6;
}
.rec .span2{
    background-color: #0096C7;
    border-radius: 15px 0px 0px 15px;
    color: #CFEBF5;
}
.rec .span3{
    background-color: #76C893;
    border-radius:0px 15px 15px 0px;
    color: #E5F5EB;
}
.borders-rec{
    width: 100px;
    height: 100px;
    position: relative;
    top:50px;
}
.colored-circles{
    width: 65px;
    height: 65px;
    z-index: 2;
    position: relative;
}
.colored-circle1{
    background-color: #FFA5AB;
    color: #FFD9DC;
    left: -35px;
}
.colored-circle2{
    background-color: #00B4D8;
    color: #94DFEF;
    right: -35px;
}
.colored-circle3{
    background-color: #99D98C;
    color: #D4EFCF;
    left: -35px;
}
.rec-mt{
    margin-top: 50px;
}
.skill-size{
    width: 200px;
}
.width-80{
    width: 80%;
}
.skill-amount-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}
.skill-amount-circles{
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-left: 10px;
}
.red-color{
    background-color: #D80027;
}
.countries-flag{
    width: 250px;
    height: 200px;
}

