body {
  font-family: IRANSans;
}
.container {
  max-width: 85%;
}
/* left card style */
.card-column-height {
  height: 100vh;
}
.section-radius {
  border-radius: 15px;
}
.card-style {
  height: 600px;
  padding-top: 30px;
}
.card-body {
  width: 100%;
}
.name-font {
  font-size: 35px;
}
.p-font {
  font-size: 15px;
}
.img-size {
  width: 35px;
  height: 35px;
}
.my-card-footer {
  background-color: #b4b4b4;
  width: 100%;
  height: 50px;
  padding: 1px;
  border-radius: 0px 0px 15px 15px;
}
.user-size {
  width: 60px;
}
/* each section name and about me style */
.border-bottom {
  border-bottom: 3px solid #707070 !important;
}
.line-height-style {
  line-height: 25px;
}

.border-bottom p {
  color: #707070;
}
/* Educational information style */
.rec {
  width: 70%;
  height: 100px;
  border-radius: 15px;
}
span {
  width: 25%;
  height: 100px;
}
.rec .span1 {
  background-color: #da627d;
  border-radius: 0px 15px 15px 0px;
  color: #f8e1e6;
}
.rec .span2 {
  background-color: #0096c7;
  border-radius: 15px 0px 0px 15px;
  color: #cfebf5;
}
.rec .span3 {
  background-color: #76c893;
  border-radius: 0px 15px 15px 0px;
  color: #e5f5eb;
}
.borders-rec {
  width: 100px;
  height: 100px;
  position: relative;
  top: 50px;
}
.colored-circles {
  width: 65px;
  height: 65px;
  z-index: 2;
  position: relative;
}
.colored-circle1 {
  background-color: #ffa5ab;
  color: #ffd9dc;
  left: -35px;
}
.colored-circle2 {
  background-color: #00b4d8;
  color: #94dfef;
  right: -35px;
}
.colored-circle3 {
  background-color: #99d98c;
  color: #d4efcf;
  left: -35px;
}
.rec-mt {
  margin-top: 50px;
}
/* skills style */
.skill-size {
  animation: img-animate 0.8s infinite;
  animation-direction: alternate;
}

.progress {
  width: 150px;
  height: 150px !important;
  line-height: 150px;
  background: none;
  margin: 20px;
  box-shadow: none;
  position: relative;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 12px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 12px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -101%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
  animation: loading-1 1.8s linear forwards;
}

.progress .progress-value {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: #fff;
  font-size: 24px;
  color: black;
  line-height: 135px;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 5%;
}

.progress.html-color .progress-bar {
  border-color: #ff6d00;
}
.progress.css-color .progress-bar {
  border-color: #039be5;
}
.progress.bt-color .progress-bar {
  border-color: #673ab7;
}
.progress.js-color .progress-bar {
  border-color: #ffd600;
}
.progress.vue-color .progress-bar {
  border-color: #41b883;
}
.progress.ps-color .progress-bar {
  border-color: #03a7f1;
}
.progress.xd-color .progress-bar {
  border-color: #fa3ec5;
}
.progress.java-color .progress-bar {
  border-color: #1565c0;
}
.progress.pt-color .progress-bar {
  border-color: #0479bd;
}
.progress.nd-color .progress-bar {
  border-color: #4caf50;
}
.progress.c-color .progress-bar {
  border-color: #3949ab;
}

.progress.lnx-color .progress-bar {
  border-color: #fbbf07;
}
.progress.git-color .progress-bar {
  border-color: #3a3a3a;
}

.progress.html-color .progress-left .progress-bar {
  animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.css-color .progress-left .progress-bar {
  animation: loading-3 1.5s linear forwards 1.8s;
}
.progress.bt-color .progress-left .progress-bar {
  animation: loading-4 0.5s linear forwards 1.8s;
}
.progress.js-color .progress-right .progress-bar,
.progress.c-color .progress-right .progress-bar,
.progress.pt-color .progress-right .progress-bar,
.progress.git-color .progress-right .progress-bar,
.progress.nd-color .progress-right .progress-bar {
  animation: loading-5 1.8s linear forwards;
}
.progress.vue-color .progress-right .progress-bar,
.progress.ps-color .progress-right .progress-bar,
.progress.java-color .progress-right .progress-bar,
.progress.ps-color .progress-right .progress-bar,
.progress.lnx-color .progress-right .progress-bar {
  animation: loading-1 1.8s linear forwards;
}

.progress.xd-color .progress-right .progress-bar {
  animation: loading-6 1.8s linear forwards;
}
/* language skills style */
.width-85 {
    width: 85%;
  }
  .skill-amount-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .skill-amount-circles {
    width: 18px;
    height: 18px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-left: 10px;
  }
  .red-color {
    background-color: #d80027;
  }
  .countries-flag {
    width: 180px;
    height: 130px;
  }
  /* experiences style */
.vertical-div{
  width:15px ;
  height: 370px;
  background-color: #f8f9fa;
  border-radius: 20px;
  position: relative;
  top: -330px;
}
.exp-container{
  position: relative;
  left: 35px;
  z-index: 2;
}
.exp-company-container{
  width: 55%;
  height: 110px;
}
.margin-top{
  margin-top: 80px;
}
.exp-company-footer{
  width: 100%;
  height: 25px;
  background-color:#a4a4a4 ;
  border-radius: 0px 0px 15px 15px;
}
.exp-company-footer a{
  text-decoration: none;
  color: white;
}
.gray-line{
  width: 10%;
  height: 5px;
  background-color: #a4a4a4;
}
.time-exp-container{
  width: 20%;
  border: 1px solid black;
  height: 50px;
  font-size: 14px;
}
.big-circle{
  width: 30px;
  height: 30px;
  background-color: #a4a4a4 ;
}
.small-circle{
  width: 15px;
  height: 15px;
  background-color: #757575 ;
}
.exp-section-height{
  height: 550px;
}
/* projects style */
.each-pro-style{
 border-right: 10px solid #757575;
 border-radius: 10px;
 height: 250px;
}
.programming-lan-pro{
  background-color: #959595;
  border-radius: 15px;
  font-size: 13px;

}
/* activity fields style */
ul li{
  color: #5c5c5c ;
}
/* animation style */
@keyframes img-animate {
  0% {
    width: 85px;
  }

  100% {
    width: 100px;
  }
}
@keyframes loading-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes loading-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(162deg);
    transform: rotate(162deg);
  }
}

@keyframes loading-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(144deg);
    transform: rotate(144deg);
  }
}
@keyframes loading-4 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(36deg);
    transform: rotate(36deg);
  }
}
@keyframes loading-5 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(108deg);
    transform: rotate(108deg);
  }
}
@keyframes loading-6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(72deg);
    transform: rotate(72deg);
  }
}
